<div class="alien-props row" style="margin-top: 1%">
    <div class="four columns alien-prop">
        <img class="human-img" alt="you" src="img/aliensmall.jpg">
        <br>
        <h5>You: {{ vm.players[0].name }}</h5>
        <p>Bailing your ship gained you {{ vm.players[0].cubits | leadingZeros }} cubits
            .</p>
    </div>
    <div class="four columns alien-prop">
        <div ng-if="vm.showalien1" class="animate-if" data-ng-click="vm.changeAlien(1)">
            <div ng-if="vm.players[1].aiLevel == 'Dumb'">
                <img alt="alien1" src="img/ailow.jpg">
                <br>
                <h5>{{ vm.players[1].aiLevel }}: {{ vm.players[1].name }}</h5>
                
                <p>Quick to beat, starting with {{ vm.players[1].cubits | leadingZeros }} cubits
                    .</p>                
            </div>
            <div ng-if="vm.players[1].aiLevel == 'Average'">
                <img alt="alien1" src="img/aimedium.jpg">
                <br>
                <h5>{{ vm.players[1].aiLevel }}: {{ vm.players[1].name }}</h5>
                <p>A nice competitor, he has a budget of {{ vm.players[1].cubits | leadingZeros }} cubits
                    .</p>                
            </div>
            <div ng-if="vm.players[1].aiLevel == 'Smart'">
                <img alt="alien1" src="img/aihigh.jpg">
                <br>
                <h5>{{ vm.players[1].aiLevel }}: {{ vm.players[1].name }}</h5>
                <p>Most evolved alien species, this fellow starts with {{ vm.players[1].cubits | leadingZeros }} cubits
                    .</p>                
            </div>
        </div>
    </div>
    <div class="four columns alien-prop">
        <div ng-if="vm.showalien2" class="animate-if" data-ng-click="vm.changeAlien(2)">
            <div ng-if="vm.players[2].aiLevel == 'Dumb'">
                <img alt="alien2" src="img/ailow.jpg">
                <br>
                <h5>{{ vm.players[2].aiLevel }}: {{ vm.players[2].name }}</h5>
                <p>Quick to beat, starting with {{ vm.players[2].cubits | leadingZeros }} cubits
                    .</p>                
            </div>
            <div ng-if="vm.players[2].aiLevel == 'Average'">
                <img alt="alien2" src="img/aimedium.jpg">
                <br>
                <h5>{{ vm.players[2].aiLevel }}: {{ vm.players[2].name }}</h5>
                <p>A nice competitor, he has a budget of {{ vm.players[2].cubits | leadingZeros }} cubits
                    .</p>                
            </div>
            <div ng-if="vm.players[2].aiLevel == 'Smart'">
                <img alt="alien2" src="img/aihigh.jpg">
                <br>
                <h5>{{ vm.players[2].aiLevel }}: {{ vm.players[2].name }}</h5>
                <p>Most evolved alien species, this fellow starts with {{ vm.players[2].cubits | leadingZeros }} cubits
                    .</p>                
            </div>
        </div>
    </div>
</div>
