<div class="tg" ng-controller="SwitchRepaymentOffNavigatorCtrl">
    <div ing-navigator="" name="switchRepaymentOffNavigator">

        <div ing-navigator-header=""></div>
        <div ing-navigator-steps="">

            <div ing-notification type="error" id="errorAlert" ng-if="technicalError.hasError()">
                <span ng-bind-html="properties.Label_TechnicalError.ErrorMessage"></span>

                <div ing-popover ng-if="technicalError.isServiceError()">
                    <a href ing-popover-invoker class="meerInfo l-pl-05">
                        <span ng-bind-html="properties.Label_TechnicalError.MoreInfoLink"></span>
                    </a>
                    <div ing-popover-content position="above-right">
                        <h3 ing-popover-title ng-bind-html="properties.Label_TechnicalError.MoreInfoLink" class="sr-only"></h3>
                        <span class="meldcode"
                              ng-bind-html="properties.Label_TechnicalError.PopoverPart1 + technicalError.getCode()
                              + properties.Label_TechnicalError.PopoverPart2"></span>
                    </div>
                </div>
                {{ StateOk() }}
            </div>

            <div ing-navigator-step="" id="step1" next-label={{properties.Label_NAVIGATOR.next}}
                 title={{properties.Label_NAVIGATOR.title_step1}} template="partials/Step1.html"></div>
            <div ing-navigator-step="" id="step2" next-label={{properties.Label_NAVIGATOR.next}}
                 previous-label={{properties.Label_NAVIGATOR.previous}} title={{properties.Label_NAVIGATOR.title_step2}}
                 template="partials/Step2.html"></div>
            <div ing-navigator-step="" id="step3" next-label={{properties.Label_NAVIGATOR.next_tan}}
                 previous-label={{properties.Label_NAVIGATOR.previous}} title={{properties.Label_NAVIGATOR.title_step3}}
                 template="partials/Step3.html"></div>
            <div ing-navigator-step="" id="step4" title={{properties.Label_NAVIGATOR.title_step4}}
                 template="partials/StepConfirm.html" finished="true"></div>
        </div>

        <div id="stepOneNext" class="row" ing-navigator-footer ng-if="nextButtonService.canProceed"></div>
    </div>

</div>
