/* Toastr color buttons #fa39c3 pink 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.toast {
  background-color: #4a8df8; /* blue used to be #030303 */
}
.toast-success {
  background-color: #34AB47; /* green used to be #51A351 */
}
.toast-error {
  background-color: #e02222; /* rood used to be #BD362F */
}
.toast-info {
  background-color: #ff33cc; /* roze used to be #2F96B4 */
}
.toast-warning {
  background-color: #feb74a; /* geel used to be #F89406 */
}

﻿/* General, .says class and # means its an id
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  border-radius: 100px; }

.container {
  max-width: 900px; }

/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
header {
  margin-top: 7rem;

.h2.title {
  text-align: left;}

.h5.subtitle {
  text-align: left;}

/* Section main
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.main-description {
  margin-bottom: 1.2rem;
  text-align: left;}

.main-img {
  display: block;
  height: 60%;
  width: 60%;
  text-align: center; }

.main-button {
  text-align: left; }

/* Three alien picture
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.alien-props {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem; }

.alien-prop {
  text-align: center;
  margin-top: 1rem; }

.alien-img {
  display: block;
  text-align: center;
  margin: 2.5rem auto 0; }

.human-img {
  display: block;
  text-align: center;
  margin: 2.5rem auto 0; }

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.footer {
  text-align: left;
  margin-bottom: 1.2rem; }


