/* General, .says class and # means its an id
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  border-radius: 100px; }

.container {
  max-width: 900px; }

/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
header {
  margin-top: 7rem;

.h2.title {
  text-align: left;}

.h5.subtitle {
  text-align: left;}

/* Section main
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.main-description {
  margin-bottom: 1.2rem;
  text-align: left;}

.main-img {
  display: block;
  height: 60%;
  width: 60%;
  text-align: center; }

.main-button {
  text-align: left; }

/* Three alien picture
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.alien-props {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem; }

.alien-prop {
  text-align: center;
  margin-top: 1rem; }

.alien-img {
  display: block;
  text-align: center;
  margin: 2.5rem auto 0; }

.human-img {
  display: block;
  height: 30%;
  width: 30%;
  text-align: center;
  margin: 2.5rem auto 0; }

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.footer {
  text-align: left;
  margin-bottom: 1.2rem; }

/* Toastr pink button
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.toast-pink {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=") !important;
    background-color: #fa39c3; }
