/* General, .says class and # means its an id
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  border-radius: 100px; }

.container {
  max-width: 900px; }

/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
header {
  margin-top: 7rem;

.h2.title {
  text-align: left;}

.h5.subtitle {
  text-align: left;}

/* Section main
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.main-description {
  margin-bottom: 1.2rem;
  text-align: left;}

.main-img {
  display: block;
  height: 60%;
  width: 60%;
  text-align: center; }

.main-button {
  text-align: left; }

/* Three alien picture
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.alien-props {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem; }

.alien-prop {
  text-align: center;
  margin-top: 1rem; }

.aline-img {
  display: block;
  text-align: center;
  margin: 2.5rem auto 0; }

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.footer {
  text-align: left;
  margin-bottom: 1.2rem;
}
