<!-- .container is main centered wrapper -->
<div class="container">

    <!-- columns should be the immediate child of a .row -->
    <div class="row">
        <div class="one column">One</div>
        <div class="eleven columns">Eleven</div>
    </div>

    <!-- just use a number and class 'column' or 'columns' -->
    <div class="row">
        <div class="two columns">Two</div>
        <div class="ten columns">Ten</div>
    </div>

    <!-- Help -->
    <div class="section get-help">
        <div class="container">
            <h3 class="section-heading">Want to see the code base?</h3>
            <p class="section-description">Card Games is amazingly easy developped with AngularNG
                and Skeleton CSS front end together with an Restful api based java backgrond.</p>
            <a class="button button-primary" href="http://github.com/saalk/">View this
                project on gitHub</a>
        </div>
    </div>

</div>
