<!-- Primary Page Layout Casino
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container"  ng-controller="CasinoController as vm">


    <header>
        <div class="row">
            <div class="twelve columns">
                <h2 class="title">{{ vm.players[0].name }}, start playing</h2>
                <h5 class="subtitle">choose the options for this High-low card game</h5>
            </div>
        </div>
    </header>

    <section class="section-main">
        <div class="row">
            <div class="12 columns">
                <p class="main-description">
                    Choose the ante for the double of nothing select your opponent(s) together with
                    their ai level.
                    Remember: your
                    <a href="https://en.wikipedia.org/wiki/Honour">honour</a>
                    is at stake as well as you ship...
                    <br></p>
                <p class="main-description">
                    Only after one guess you can opt to pass on to the next player, but keep playing
                    next turn will reward you double or nothing.
                    Win or lose depends on a series of good guesses and of course the result of
                    your selected opponent ai player(s) strength...<br></p>
                <a class="button game-button" href="#/home">Leave</a>
                <a class="button button-primary game-button1" data-ng-click="vm.alien1()"
                   >Alien 1</a>
                <a class="button button-primary game-button2" data-ng-click="vm.alien2()"
                   >Alien 2</a>
                <a class="button game-button" ng-if="vm.startthegame" data-ng-click="vm.start()" class="animate-if">start the game</a>
            </div>
            <div class="three column main-prop">
            </div>
        </div>
    </section>

    <section class="section-list" ng-show="vm.showList">
        <div class="row">
            <div class="twelve columns">
                <h4>Players</h4>
                <table>
                    <tr data-ng-repeat="player in vm.players">
                        <td>{{ player.id }}</td>
                        <td>{{ player.name }}</td>
                        <td>{{ player.aiLevel }}</td>
                        <td>{{ player.fiches }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </section>

    <section class="aliens">
        <div class="alien-props row" style="margin-top: 5%">
            <div class="four columns alien-prop">
                <img class="human-img" alt="you" src="img/aliensmall.jpg">
                <br>
                <h5>You: {{ vm.players[0].name }}</h5>
                <p>{{ vm.players[0].label }} {{ vm.players[0].fiches | leadingZeros }} fiches
                    .</p>
            </div>
            <div class="four columns alien-prop">
                <div ng-if="vm.showalien1" class="animate-if" class="alien-img">
                    <img alt="alien1" src="img/aimedium.jpg">
                    <br>
                    <h5>{{ vm.players[1].aiLevel }}: {{ vm.players[1].name }}</h5>
                    <p>{{ vm.players[1].label }} {{ vm.players[1].fiches | leadingZeros }} fiches
                        .</p>
                </div>
            </div>
            <div class="four columns alien-prop">
                <div ng-if="vm.showalien2" class="animate-if" class="alien-img">
                    <img class="alien-img" alt="alien1" src="img/aimedium.jpg">
                    <br>
                    <h5>{{ vm.players[2].aiLevel }}: {{ vm.players[2].name }}</h5>
                    <p>{{ vm.players[2].label }} {{ vm.players[2].fiches | leadingZeros }} fiches
                        .</p>
                </div>
            </div>
        </div>
    </section>

</div>