<!-- Primary Page Layout Casino
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container"  ng-controller="CasinoController as vm">


    <header>
        <div class="row">
            <div class="twelve columns">
                <h2 class="title">{{ players[0].alias }}, start playing</h2>
                <h5 class="subtitle">choose the options for this High-low card game</h5>
            </div>
        </div>
    </header>

    <section class="section-main">
        <div class="row">
            <div class="12 columns">
                <p class="main-description">
                    Choose the ante (todo: now fixed at 50) for double or nothing and select your opponent(s) together with
                    their ai level.
                    Remember: your
                    <a href="https://en.wikipedia.org/wiki/Honour">honour</a>
                    is at stake as well as you ship...
                    <br></p>
                <p class="main-description">
                    Only after one guess you can opt to pass on to the next player, but keep playing
                    next turn will reward you double or nothing (todo: now always 50).
                    Win or lose depends on a series of good guesses and of course the results of
                    your selected opponent ai player(s) strength...<br></p>
                <a class="button game-button" href="#/home">Leave</a>
                <a class="button button-primary game-button1" data-ng-click="vm.changeAlien(1)"
                   >Alien 1</a>
                <a class="button button-primary game-button2" data-ng-click="vm.changeAlien(2)" ng-if="vm.showalien1" class="animate-if">Alien 2</a>
                <a class="button game-button" ng-if="vm.tothetable" href="#/table" data-ng-click="vm.start()" class="animate-if">start the game</a>
            </div>
            <div class="three column main-prop">
            </div>
        </div>
    </section>

    <section class="section-list" ng-show="vm.showListForDebug">
        <div my-casino-directive template-path="javascript/directives/players-list.html">
        </div>
    </section>

    <section class="aliens">
        <div my-casino-directive template-path="javascript/directives/players-casino.html">
        </div>
    </section>

</div>